.wrapper{
    width: 900px;
    margin: 0 auto;
}

.header{
    width: 900px;
    height: 60px;
    margin-bottom: 15px;
}

.small-section{
    width: 190px;
    height: 60px;
    background-color: gray;
    float: left;
}

.big-section{
    width:700px;
    height: 60px;
    background-color: gray;
    float: right;
}

.banner{
    width: 900px;
    height: 200px;
    background: gray;
    margin-bottom: 15px;
}

.image-area{
    width: 900px;
    height: 400px;
}

.post-1{
    width: 440px;
    height: 400px;
    background-color: gray;
    float: left;
}

.post-2{
    width: 440px;
    height: 400px;
    background-color: gray;
    float: right;
}

.footer{
    width: 900px;
    height: 200px;
    background-color: gray;
    margin-top: 15px;
}

